{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.us-south.cf.cloud.ibm.com",
      "Org": "nicholastotman@gmail.com",
      "Space": "dev"
    },
    "Name": "Nicholas-Totman-Assingment4-Compx341",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}